<footer>
  <div class="row">
    <div class="col span-1-of-2">
      <ul class="footer-nav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">iOS App</a></li>
        <li><a href="#">Android App</a></li>
      </ul>
    </div>
    <div class="col span-1-of-2">
      <ul class="social-icons">
        <li><a href="#"><app-icon icon="cart" size="14" fill="#00f"></app-icon></a></li>
        <li><a href="#"><app-icon icon="cart" size="14" fill="#f00"></app-icon></a></li>
        <li><a href="#"><app-icon icon="cart" size="14" fill="#ff0"></app-icon></a></li>
        <li><a href="#"><app-icon icon="cart" size="14" fill="#f0f"></app-icon></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p>Copyright &copy; 2015 by CAFESANU. All lefts reserved</p>
  </div>
</footer>
