<section class="section-cities">
  <div class="row">
    <h2>We're currently in these cities</h2>
  </div>
  <div class="row">
    <div class="col span-1-of-4 box">
      <img src="assets/img/lisbon-3.jpg" alt="">
      <h3>Lisbon</h3>
      <div class="city-feature">
        <app-icon icon="cart" size="14" fill="#e67e22"></app-icon>
        1600+ happy eaters
      </div>
      <div class="city-feature">
        <app-icon icon="infinite" size="14" fill="#e67e22"></app-icon>
        60+ top chefs
      </div>
      <div class="city-feature">
        <app-icon icon="leaf" size="14" fill="#e67e22"></app-icon>
        <a href="">@omnifood_lx</a>
      </div>
    </div>
    <div class="col span-1-of-4 box">
      <img src="assets/img/san-francisco.jpg" alt="">
      <h3>San Francisco</h3>
      <div class="city-feature">
        <app-icon icon="cart" size="14" fill="#e67e22"></app-icon>
        3700+ happy eaters
      </div>
      <div class="city-feature">
        <app-icon icon="infinite" size="14" fill="#e67e22"></app-icon>
        160+ top chefs
      </div>
      <div class="city-feature">
        <app-icon icon="leaf" size="14" fill="#e67e22"></app-icon>
        <a href="">@omnifood_sf</a>
      </div>
    </div>
    <div class="col span-1-of-4 box">
      <img src="assets/img/berlin.jpg" alt="">
      <h3>Berlin</h3>
      <div class="city-feature">
        <app-icon icon="cart" size="14" fill="#e67e22"></app-icon>
        2300+ happy eaters
      </div>
      <div class="city-feature">
        <app-icon icon="infinite" size="14" fill="#e67e22"></app-icon>
        110+ top chefs
      </div>
      <div class="city-feature">
        <app-icon icon="leaf" size="14" fill="#e67e22"></app-icon>
        <a href="">@omnifood_berlin</a>
      </div>
    </div>
    <div class="col span-1-of-4 box">
      <img src="assets/img/london.jpg" alt="">
      <h3>London</h3>
      <div class="city-feature">
        <app-icon icon="cart" size="14" fill="#e67e22"></app-icon>
        1200+ happy eaters
      </div>
      <div class="city-feature">
        <app-icon icon="infinite" size="14" fill="#e67e22"></app-icon>
        50+ top chefs
      </div>
      <div class="city-feature">
        <app-icon icon="leaf" size="14" fill="#e67e22"></app-icon>
        <a href="">@omnifood_london</a>
      </div>
    </div>
  </div>
</section>















